<h1>With the standard rails form helper</h1>

<%= form_for @order do |f| %>
  <div class="field">
    <%= f.label :country_code %><br>
    <%= f.country_select :country_code, priority: %w(US CA), prompt: 'Please select a country' %>
  </div>
  <div class="field">
    <%= f.label :subregion_code %><br>
    <%= render partial: 'subregion_select', parent_region: f.object.country_code %>
  </div>
<% end %>

<br>
<br>
<hr>
<br>
<br>

<h1>With simple_form </h1>
<%= simple_form_for @order do |f| %>
  <%= f.input :country_code do %>
    <%= f.country_select :country_code, prompt: 'Please select a country' %>
  <% end %>
  <%= f.input :subregion_code do %>
    <%= render 'subregion_select', parent_region: f.object.country_code %>
  <% end %>
<% end %>